@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.ttf");
}

h1,
a,
body
.dashboard {
  font-family: Inter, Helvetica, sans-serif;
}

html, body {
  background-color: #FFFAEC;
  /* remove browser default settings */
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #16404D;
  display: flex;
  align-items: center;
  height: 2.8rem;
  padding-inline: 1rem;
  border-bottom: 1px solid;
  justify-content: space-between;
}

.title {
  color: #FAF7F4;
  font-weight: 600;
  font-size: x-large;
}

.navbar ul,
.navbar li {
  list-style-type: none; /* remove the bullets */
  display: inline;
  color: #FAF7F4;
  font-weight: 500;
  padding: 10px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0,max-content));
  grid-auto-rows: minmax(100px, auto);
  gap: 15px;
  padding: 10px;
}

.visualization {
  padding: 1rem;
  background-color: #F5ECD5;
  border-radius: 24px;
}

/* -------MAP------- */
#map {
  background-color: white;
}

.zoom-button {
    cursor: pointer;
}

.zoom-button-bg {
    fill: #fff;
    stroke: #333;
    stroke-width: 1px;
}

.europe-outline {
    fill: #16404D;
    stroke: #333;
    stroke-width: 0.5px;
}

.zoom-button:hover .zoom-button-bg {
    fill: #f0f0f0;
}

.zoom-button:hover .zoom-icon {
  font-weight: 900;
}


/* ----CATALOG---- */

.search-container {
  display: flex;
  margin-bottom: 0.5rem;
}

#search-input {
  width: 100%;
  padding: 0.375rem 1.5rem 0.375rem 0;
  border: none;
  border-bottom: 0.5px solid;
  background: transparent;
  outline: none;
}

#search-input::placeholder {
  color: #aaa;
}

#search-icon {
  width: 15px;
  align-items: center;
}

#catalog {
  grid-column: 2;
  grid-row: 1;
  height: 225px;
  display: flex; /* Limit the entries to the catalog area*/
  flex-direction: column;
  padding: 0.75rem 1.25rem;
  color: #16404D;
}

.catalog-header {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-rows: 30px;
  gap: 20px; /* Aligns with the entries */
  font-weight: 600;
  font-size: 1rem;
  align-items: center;
}

.sortable {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sort-icon {
  width: 15px;
}

#catalog-entries {
  overflow-y: auto; /* Enable vertical scroll */
  margin-bottom: 0.5rem;
}

.catalog-entry {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 20px;
  padding: 5px;
  margin: 10px 0;
  background: #FFFAEC;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  font-size: 0.75rem;
  align-items: center;
}

/* Scrollbar styling */
#catalog-entries::-webkit-scrollbar {
  width: 8px;
}

#catalog-entries::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#catalog-entries::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#book-count {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
}