h1,
.dashboard {
  font-family: Helvetica, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  height: 2.8rem;
  padding: 0.3rem 0.3rem;
  font-size: 1.2rem;
  border-bottom: 1px solid;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 15px;
  padding: 10px;
}

.visualization {
  padding: 10px;
}

